/**
 * Start of docs styles
**/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #444;
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

a {
  color: #066EFB;
  text-decoration: none;
}

a:hover { color: #0766e7; }

p { line-height: 23px; }

pre {
  background-color: #eee;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 13px;
}

hr {
  border: 0;
  border-bottom: 1px dotted #ddd;
  height: 1px;
  margin: 40px 0;
}

.code {
  color: #D54950;
  font-weight: 400;
}

.mainpanel {
  max-width: 1024px;
  margin: auto;
  padding: 20px 30px;
  box-sizing: border-box;
  border-top: 0;
  border-bottom: 0;
}

.tpx-logo {
  font-size: 50px;
  color: #066efb;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0;
}

.tpx-logo span {
  color: #000;
  font-weight: 300;
}

.tpx-desc {
  font-weight: 200;
  font-size: 20px;
}

.tpx-social {
  font-size: 32px;
  margin: 0;
}

.tpx-social .github { color: #333; }
.tpx-social .github:hover { color: #000; }
.tpx-social .twitter { color: #1AB2E8; }
.tpx-social .twitter:hover { color: #189fcf; }
.tpx-social .dribbble { color: #C32361; }
.tpx-social .dribbble:hover { color: #ad1e55; }

.sectitle {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #000;
}

.secdesc { margin-top: 0; }

.subtitle {
  font-size: 24px;
  font-weight: 300;
  color: #000;
  margin-bottom: 0;
}

.subdesc {
  color: #666;
  font-size: 14px;
  margin: 2px 0 20px;
}

.tpx-radio {
  margin-right: 20px;
}

.inline-block { display: inline-block; }

.download-btn {
  display: block;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 12px 20px;
  border: 2px solid #066EFB;
  font-weight: 500;
  border-radius: 4px;
}

.tpx-radio-xs {
  font-size: 14px;
}
